.flexRow--banner{
  display: flex;
  align-items: center;
  height: 600px;
  background-image: url(assets/images/bg-map.png);
  background-size: cover;
}

.flexRow--custom-cbz{
  width:90%;
  height: 400px;
  background-color: #000;
  z-index: 1;
}

.flexRowContent--footer-img-cbz{
  width: 1088px;
}

.flexRow--footer-img-cbz{
  width: 600px;
  height: 520px;
  position: absolute;
  right: 0;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  background-color: #fff;
}
 
.flexColChild--product-main {
    max-width: fit-content;
    margin: 10px auto;
    padding-left: 5px;
    padding-right: 5px;;
    text-align: justify;
}

.flexRow--product-main {
    max-width: 400px;
    border-radius: 10px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 5px;
    background-color:black;
}

.flexCol--about-content {
  padding: 70px;
}

.flexRow--about-call-to-action {
  background-color: #000;
  padding: 70px 0;
}

.flexRow--about-vision-container {
  padding-top: 180px;
  padding-left: 0;
  padding-right: 30%;
  background-color: #fff;
}

.flexRow--about-values-container {
  padding-top: 0;
  padding-left: 30%;
  padding-bottom: 180px;
  padding-right: 0;
  background-color: #fff;
}

.flexRow--about-vision {
  z-index: 1;
  padding: 100px;
  background-image: url(https://res.cloudinary.com/pedro-drosa/image/upload/v1630179185/business-people_bkmplt.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}

.flexRow--about-values {
  padding: 100px;
  padding-left: 640px;
  margin-top: -240px;
  background-color: #f5f5f5;
  background-repeat: no-repeat;
}

.flexRow--about-achievements-container {
  padding: 180px 0;
  background-image: url(assets/images/bg-map.png);
  background-size: cover;
}

@media (max-width: 600px) {
  .flexRow--product-main {
    max-width: 300px;
  }

  .flexRow--banner{
    background-image: url(assets/images/image-fundo-produto.png);
  }
}

@media (max-width: 1280px) {
  .flexCol--about-content {
    padding: 0;
  }

  .flexRow--about-values {
    padding-top: 300px;
    padding-left: 20px;
    margin-top: -240px;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
  }
}
@media (max-width: 980px) {
  .flexRow--about-call-to-action {
    padding: 50px 0;
  }

  .flexRow--about-vision-container {
    padding-top: 100px;
  }
}

@media(max-width: 890px) {  
  .flexRow--about-call-to-action {
    background-image: url(https://res.cloudinary.com/pedro-drosa/image/upload/v1630266567/about-intro-image_ckulsz.jpg);
    background-position: center;
    background-size: cover;
  }
}

@media (max-width: 800px) {
  .flexRow--about-vision {
    padding: 40px;
  }
}
