.flexCol--about-content {
  padding: 70px;
}

.flexRow--about-call-to-action {
  background-color: #000;
  padding: 30px 0;
}

.flexRow--about-vision-container {
  padding-top: 180px;
  padding-left: 0;
  padding-bottom: 30px;
  padding-right: 30%;
  background-color: #fff;
}

.flexRow--about-values-container {
  padding-top: 30;
  padding-left: 30%;
  padding-bottom: 40px;
  padding-right: 0;
  background-color: #fff;
}

 .flexRow--about-virtues {
  padding: 70px;
  background-color: #f5f5f5;
  border-left: 20px solid #ffb100;
}

.flexRow--about-achievements-container {
  padding: 180px 0;
  background-image: url(assets/images/bg-map.png);
  background-size: cover;
}

.flexRow--banner{
  display: flex;
  align-items: center;
  height: 600px;
  border: none!important;
  background-image: url(assets/images/bg-map.png);
  background-size: cover;
}
.flexRow--custom-cbz{
  width:90%;
  height: 400px;
  background-color: #000;
  z-index: 1;
}
.flexRowContent--footer-img-cbz{
  width: 1088px;
}
.flexRow--footer-img-cbz{
  width: 600px;
  height: 520px;
  position: absolute;
  right: 0;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  background-color: #fff;
}
 
.flexColChild--product-main {
    max-width: 400px;
    margin: 10px auto;
    padding: 0;
}

.flexRow--product-main {
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 30px;
}