.infoCardContainer--customCardInfo{
  border:none;
  color:#fff!important;
}

.infoCardHeadline--customCardInfo{
  font-size: 5.5rem;
  max-width: 500px;
}

.imageElement--img-footer{
  width: 100%
}

.productDescriptionContainer--description {
    max-width: 350px;
}

.productDescriptionText--description {
    color: white;
}

.productBrand--name {
  color: white;
}

.imageElement--about-slider-img{
  width: 7em;
}

.imageElement--about-us-image{
  position: absolute;
  overflow-x: hidden!important;
  width: 60%;
  top: 110px;
  right: 0;
}

@media(max-width: 1280px) {  
  .imageElement--about-us-image {
    width: 55%;
  }
}

@media(max-width: 980px) {  
  .imageElement--about-us-image {
    width: 50%;
  }
}

@media(max-width: 800px) {  
  .imageElement--about-us-image {
    top: 180px;
  }
}

@media(max-width: 890px) {  
  .imageElement--about-us-image {
    display: none;
  }
}

/* @media (max-width: 600px) {  
  .productImage--product-image {
    min-width: fit-content;
    height: auto;
  }

  .productImageTag--product-image {
    width: 300px;
  }
} */
