.infoCardContainer--customCardInfo{
  border:none;
  color:#fff!important;
}
.infoCardHeadline--customCardInfo{
  font-size: 5.5rem;
  max-width: 500px;
}

.imageElement--img-footer{
  width: 100%
}

:global(.vtex-store-link-0-x-link--customLink){
  text-decoration: none;
  color: #f1c233;
  border: 1px solid #f1c233;
  max-width: 250px;
  border-radius: 5px;
  padding: 10px 0;
}

:global(.vtex-store-components-3-x-logoImage){
  width: 110px;
}

:global(.vtex-menu-2-x-menuContainerNav--custom-item-menu){
  padding: 0 20px;
}