.infoCardContainer--customCardInfo{
  border:none;
  color:#fff!important;
}

.infoCardHeadline--customCardInfo{
  font-size: 5.5rem;
  max-width: 500px;
}

.imageElement--img-footer{
  width: 100%
}

.productDescriptionContainer--description {
    max-width: 350px;
}

.productDescriptionText--description {
    color: white;
}

.productBrand--name {
  color: white;
}

/* @media (max-width: 600px) {  
  .productImage--product-image {
    min-width: fit-content;
    height: auto;
  }

  .productImageTag--product-image {
    width: 300px;
  }
} */
